
        <div class='' ng-controller='animelistController'>
              {{dd}}
                <!-- Tab content -->
                
                        <ul class='mynavvy nav nav-tabs nav-justified' role='tablist' style='padding:0px'>
                            <li class='active'><a href='#Profile' role='tab' data-toggle='tab' style='padding:0px'><h3>Profile</h3></a></li>
                            <li class='cd-lg-12'><a href='#TimeScore' role='tab' data-toggle='tab' style='padding:0px'><h3>Time&Score</h3></a></li>
                            <li class=''><a href='#Favorites' role='tab' data-toggle='tab' style='padding:0px'><h3>Favorites</h3></a></li>
                        </ul>
                        <div class='tab-content col-md-8 col-md-offset-2 '>
                            <div class='active tab-pane fade in' id='Profile'>
                                <h1>PROFILE</h1>
                            </div>
                            <div class='tab-pane fade' id='TimeScore'>
                                <h1>TIME&SCORE</h1>
                            </div>
                            <div class='tab-pane fade' id='Favorites'>
                                <h1>FAVORITES</h1>
                            </div>
                        </div>

                
                                
                
        </div>
